body{
    max-width: 100%;

}

header{
    background-color:  #222;
    display: flex;
    justify-content:space-around;
    min-height: 50px;
    max-width: 100%;
}

*{
    margin: 0;
}

p{
    word-wrap: break-word;
}
li {
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
img{
    max-width: 400px;
    max-height: 400px;
}
.menu_buttons{
    display: flex;
    gap: 33px;
    align-items: center;
    justify-content:space-around;
    max-width: 30vw;

    >h3{
        >a{
            color: white;
        }
    }

}

.resipe_block{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-left: 30px;

    margin-right: 50px;
    min-width: 100px;
    min-height: 300px;
    /* border-style: solid; */
    grid-template-rows: auto;

        

}
.resipe_subblock{
    gap: 30px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-right: 50px;
    min-width: 100px;
    min-height: 300px;
    border-style: solid;
    >img{
        max-width: 200px;
        max-height: 200px;
        padding-left: 30px;
    
    }
    
}
.resipe_subblock_text{
    padding-left: 30px;
    padding-top: 15px;
    
}

.one_recipe_block{
    padding-top: 30px;
    display: flex;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;

    >ul{
        >li{
            margin-bottom: 30px;
        }
    }
}

.recipe_block_text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.recipe_form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* padding-left: 100px; */
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    
    
}

.recipe_form_form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    margin: auto;
    padding: 30px;
    font-size: 20px;
    background-color: #f5f5f5;
    >p{
        display: flex;
        flex-direction: column;
        >input[type=text], input[type=email], input[type=number], select, textarea{
            padding: 10px;
            width: 100%;
            border: 2px solid gray;
            border-radius: 5px;
        }
    }
    >input[type=submit]{
        padding: 12px 30px;
        border: none;
        background-color: #333333;
        color: #ffffff;
        font-size: 16px;
        width: 100%;
    }
    >input[type=submit]:hover {
        background-color: #333333a2;
        cursor: pointer;
    }
    >input[type=file]:hover{
        cursor: pointer;
    }
    
    >input, select, textarea, label{
        margin-bottom: 10px;
        
    }
    
}
.recipe_form_form_input{
    width: 150px;
}